/* main_smartphone.css */

/* width: ~ 767px / design 기준 : 320px */
@media all and (max-width:767px) {
  

  /* #mainAdBox ==================================================== */

  #mainAdBox {
    width:100%; height:auto;
    margin:auto;
    margin-top:50px;
  }
  .mainAdBox_area {
    position:relative;
    width:100%; height:400px;
    overflow:hidden;
  }
  .mainAdBox_area > ul {
    position:absolute;
    left:0; top:0;
    width:500%; height:auto;
    transition:500ms ease-out;
  }
  .mainAdBox_area > ul > li {
    float:left;
    width:20%; height:400px;
  }
  .mainAdBox_area > ul > li:nth-child(1) {
    background-image: url("../../image/main_page/mainAd_01.jpg");
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size:cover;
  }
  .mainAdBox_area > ul > li:nth-child(2) {
    background-image: url("../../image/main_page/mainAd_02.jpg");
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size:cover;
  }
  .mainAdBox_area > ul > li:nth-child(3) {
    background-image: url("../../image/main_page/mainAd_03.jpg");
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size:cover;
  }
  .mainAdBox_area > ul > li:nth-child(4) {
    background-image: url("../../image/main_page/mainAd_04.jpg");
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size:cover;
  }
  .mainAdBox_area > ul > li:nth-child(5) {
    background-image: url("../../image/main_page/mainAd_05.jpg");
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size:cover;
  }
    .indicator_box {
      display:none;
    }
    .mainAd_btn_box {
      position:absolute;
      top:calc(50% - 30px); left:0;
      width:100%; height:auto;
    }
    .mainAd_btn_box > div > button {
      width:60px; height:60px;
    }
      .mainAd_prev_button {float:left;}
      .mainAd_next_button {float:right;}
      .mainAd_btn_box i {font-size:50px; color:var(--color-yellow);}
  /* #menuBox ====================================================== */

  #menuBox {
    width:100%; height:auto; background-color:var(--color-gray);
  }
    .menu_inner {
      margin:auto;
      width:100%; height:auto;
    }
    .menu_inner > ul {
      width:100%; height:auto;
      padding:20px;
    }
    .menu_inner > ul > li {
      transition:all 300ms linear;
      margin-bottom:20px;
      width:100%; height:50px;
    }
    .menu_inner_area > li > div {
      width:100%; height:100%;
      box-shadow:5px 5px 5px;
    }
    .menu_inner > ul > li:last-child {
      margin-bottom:0;
    }
    .menu_inner_area a {display:block; width:100%; height:100%;}
    .menu_inner_area a div {
      padding:0; 
      width:100%; height:100%; background-color:#fdb;
    }
    .menu_inner h3 {
      text-align:center; line-height:50px;
      font-size:1.5rem; text-transform:uppercase;
      background-color: rgba(228, 228, 228,0.5);
    }
    .menu_inner li:hover {transform:scale(1.02);}

    .brandstory_box div {
      background-image: url("../../image/main_page/menu1.png");
      background-repeat: no-repeat;
      background-position:50% 50%;
      background-size:cover;
    }
    .menu_box div {
      background-image: url("../../image/main_page/menu2.png");
      background-repeat: no-repeat;
      background-position:50% 50%;
      background-size:cover;
    }
    .franchise_box div {
      background-image: url("../../image/main_page/menu3.png");
      background-repeat: no-repeat;
      background-position:50% 50%;
      background-size:cover;
    }
    .store_box div {
      background-image: url("../../image/main_page/menu4.png");
      background-repeat: no-repeat;
      background-position:50% 50%;
      background-size:cover;
    }
    .news_box div {
      background-image: url("../../image/main_page/menu5.png");
      background-repeat: no-repeat;
      background-position:50% 50%;
      background-size:cover;
    }


  /* #newproductBox ================================================= */

  #newproductBox {
    width:100%; height:auto;
    background-image: url("../../image/main_page/newBest.jpg");
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size:cover;
  }
  #newproductBox > div {
    width:100%; height:300px;
    background-color:var(--color-halfBlock);
  }
      .newproduct_area {
        margin:auto; margin-top:15px;
        width:240px; height:auto;
        color:var(--color-yellow);
      }
        .newproduct_title {
          text-align:center;
          font-size:2.25rem; text-transform:uppercase;
          width:240px; height:60px;
        }
        .newproduct_text {
          text-align:center;
          font-size:1.25rem;
          margin:20px 0;
          width:240px; height:110px;
        }
        .newproduct_area > div {
          margin:auto;
          width:140px; height:60px;
        }
        .newproduct_area button {
          display:block; font-size:1.25rem;
          color:var(--color-brown);
          width:100%; height:100%;
          font-weight:800;
          background-color:var(--color-yellow);
          border:2px solid var(--color-brown);
          border-radius:10px;
          transition:all 300ms linear;
        }
        .newproduct_area button:hover {
          color:var(--color-yellow);
          background-color:var(--color-brown);
        }

  /* #introductionBox ================================================= */

  #introductionBox {
    position:relative; 
    padding:20px;
    width:100%; height:340px; background-color:var(--color-brown);
  }
    .introduction_inner {
      position:relative;
      margin:auto; width:100%; height:auto;
    }
    .introduction_inner > li {
      box-shadow:5px 5px 5px;
      margin:auto;
      width:auto; height:300px;
    }
    .introduction_inner > li:nth-child(1) {
      background-image: url("../../image/main_page/introduction_01.jpg");
      background-repeat: no-repeat;
      background-position:50% 50%;
      background-size:cover;
    }
    .introduction_inner > li:nth-child(2) {
      background-image: url("../../image/main_page/introduction_02.jpg");
      background-repeat: no-repeat;
      background-position:50% 50%;
      background-size:cover;
    }
    .introduction_inner > li:nth-child(3) {
      background-image: url("../../image/main_page/introduction_03.jpg");
      background-repeat: no-repeat;
      background-position:50% 50%;
      background-size:cover;
    }
    .introduction_inner > li:nth-child(4) {
      background-image: url("../../image/main_page/introduction_04.jpg");
      background-repeat: no-repeat;
      background-position:50% 50%;
      background-size:cover;
    }

    .introduction_btn_box {
      position:absolute; 
      top:15%; left:0; right:0;
      padding:0 20px;
      margin:auto;
      width:100%; height:60px;
    }
    .introduction_btn_box > div {
        width:auto; height:auto;
      }
      .introduction_btn_box button {
        width:60px; height:60px;
      }
      .introduction_prev_button {float:left;}
      .introduction_next_button {float:right;}
      .introduction_btn_box i {font-size:50px; color:var(--color-brown);}
  /* #subAdBox_01 ===================================================== */

  #subAdBox_01 {
    display:none;
  }
  /* #subAdBox_02 ===================================================== */

  #subAdBox_02 {
    width:100%; height:auto;
    background-image: url("../../image/main_page/interior.jpg");
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size:cover;
  }
  #subAdBox_02 > div {
    padding:15px 0;
    width:100%; height:auto;
    background-color:var(--color-halfBlock);
  }
    .sub_inner_02 {
      color:var(--color-yellow);
      margin:auto;
      width:240px; height:auto;
    }
      .sub_02_title {
        margin:auto;
        font-size:2.25rem; text-transform:uppercase;
        text-align:center;
        width:200px; height:60px;
      }
      .sub_02_text {
        font-size:1.25rem;
        text-align:center;
        margin:15px 0;
        width:240px; height:auto;
      }
      .sub_02_area > div {
        margin:auto;
        width:140px; height:60px;
      }
      .sub_02_area button {
        display:block; font-size:1.25rem;
        font-weight:800;
        color:var(--color-brown);
        width:100%; height:100%;
        background-color:var(--color-yellow);
        border:2px solid var(--color-brown);
        border-radius:10px;
        transition:all 300ms linear;
      }
      .sub_02_area button:hover {
        color:var(--color-yellow); 
        background-color:var(--color-brown);
      }

  /* #subAdBox_03 ===================================================== */

  #subAdBox_03 {width:100%; height:auto; background-color:var(--color-brown);}
    .sub_inner_03 {
      padding:15px;
      width:100%; height:100%;
    }
    .sub_inner_03_area {
      padding:15px 0;
      width:100%; height:auto;
      background-image: url("../../image/main_page/slide_interior.png");
      background-repeat: no-repeat;
      background-position:50% 50%;
      background-size:cover;
    }
    /* .sub_inner_03_area > div {float:left;} */
      .sub_inner_03_textBox {
        margin:auto;
        padding:0; box-sizing:border-box;
        width:240px; height:auto;
        color:var(--color-brown);
      }
        .sub_03_title {
          margin:auto;
          font-size:2.25rem; text-transform:uppercase;
          text-align:center;
          width:140px; height:60px;
        }
        .sub_03_text {
          margin:auto;
          font-size:1.25rem;
          text-align:center;
          margin:15px 0;
          width:240px; height:auto;
        }
        .sub_03_area > div {
          width:140px; height:60px;
          margin:auto;
        }
        .sub_03_area button {
          display:block; font-size:1.25rem;
          color:var(--color-brown);
          width:100%; height:100%;
          font-weight:800;
          background-color:var(--color-yellow);
          border:2px solid var(--color-brown);
          border-radius:10px;
          transition:all 300ms linear;
        }
        .sub_03_area button:hover {
          color:var(--color-yellow); 
          background-color:var(--color-brown);
        }
      .sub_inner_03_imgBox {display:none;}

  
} 