@charset "UTF-8";
/* main_page.css */

:root {
  --color-yellow:#FAD000;
  --color-darkGray:#363636;
  --color-white:#ffffff;
  --color-textGray:#919191;
  --color-brown:#3C2416;
  --color-brownOpacity:rgba(60, 36, 22,0.5);
  --color-halfBlock:rgba(54, 54, 54,0.5);
  --color-halfWhite:rgba(255, 255, 255,0.5);
  --color-gray:#E4E4E4;
  --color-blue:#A6BEE0;
  --color-pink:#F47ACB;
  --color-red:#E05158;
}

#wrap {
  width:100%; height:auto;
  min-height:500px;
}

/* #headBox ===================================================== */

#headBox {
  width:100%; height:auto;
  background-color: #bbb;
}
  .head_area {
    position:fixed;
    top:0; z-index:200;
    width:100%; height:120px;
    padding:10px 100px;
    background-color:var(--color-darkGray);
  }
    .head_inner {
      position: relative;
      width:100%; height:100%;
      margin:auto;
    }
      .head_logoBox {
        position: absolute;
        top:0; left:calc(50% - 180px);
        width:360px; height:100%;
      }
      .head_logoBox > h1 {
        width:100%; height:100%;
      }
      .head_logoBox > h1 > a {
        display:block;
        width:100%; height:100%;
        padding:0 20px;
      }
      .head_logoBox h1 > a > img {
        width:360px; height:auto;
        padding:0 20px;
      }

      /* .menu_area ============================================= */

      .menu_area {
        position:relative;
        float:left;
        width:100px; height:100%;
        line-height:100px;
      }
        .menu_btn {
          position:absolute;
          top:35px; left:0;
          width:100%; height:30px;
          font-size:20px;
          text-transform:uppercase;
          font-weight:400;
          color:var(--color-white);
        }
        .menu_btn:hover {
          color:var(--color-yellow);
        }
        .menu_btn:hover .menu_move_btn > span {
          background-color:var(--color-yellow);
        }
      .menu_area > i {
        margin-right:10px;
      }
      .menu_move_btn {
        position:relative;
        float:left;
        width:20px; height:20px;
        margin-right:5px;
        margin-left:10px;
      }
      .menu_move_btn > span {
        position:absolute;
        display:block;
        width:20px; height:2px;
        background-color:var(--color-white);
        /* border-radius:50%; */
        transition:all 300ms linear;
      }
      .menu_move_btn > span:nth-child(1) {
        top:4px;
      }
      .menu_move_btn > span:nth-child(2) {
        top:10px;
      }     
      .menu_move_btn > span:nth-child(3) {
        top:16px;
      }
      .menu_btn:hover .menu_move_btn > span:nth-child(1) {
        transform:translateY(5px) rotate(90deg);
      }
      .menu_btn:hover .menu_move_btn > span:nth-child(2) {
        width:10px;
        transform:translate(1px, 4px) rotate(45deg);
      }
      .menu_btn:hover .menu_move_btn > span:nth-child(3) {
        width:10px;
        transform:translate(9px, -2px) rotate(-45deg);
      }
      .menu_btn > span {
        display:block;
        float:left;
        transition:all 300ms linear;
      }
      
      /* .login_area ============================================== */

      .login_area {
        float:right;
        width:100px; height:100%;
        font-size:20px;
        font-weight: 600;
        line-height:100px;
        text-transform:uppercase;
        color:var(--color-white);
      }
      .login_btn {
        width:100%; height:30px;
        font-size:20px;
        text-transform:uppercase;
        font-weight:400;
        color:var(--color-white);
        transition:all 300ms linear;
      }
      .login_btn:hover {
        color:var(--color-yellow);
      }
      .login_area > i {
        margin-left:10px;
      }
      
      /* .navigation_slider ========================================= */

      .navigation_slider {
        position:fixed;
        top:120px; left:0;
        z-index:100;
        width: 300px; height: auto;
        border:1px solid var(--color-brown);
        /* background-color: var(--color-yellow); */
      }
      .navigation_slider dl {
        padding:10px;
        width:100%; height:auto;
      }
      .navigation_slider dt {
        width:100%; height:30px;
        padding-left:10px;
        font-size:18px;
        text-transform:uppercase;
      }
      .navigation_slider dd a {display:block;}
      .category_dt_title {
        color:var(--color-brown);
        margin-bottom:8px;
        border-bottom:1px solid var(--color-brownOpacity);
      }
      .category_box dd {
        width:100%; height:auto;
        padding:8px;
        /* border:1px solid #777; */
      }

      .category_box dd > a {
        width:150px; height:100%;
        font-size:20px;
        font-weight:500;
        text-transform:uppercase;
        color:var(--color-brown);
        background-color:var(--color-white);
        transition:all 500ms linear;
        border-radius:0 20px 20px 0;
        /* background-color: #56a; */
      }
      .sub_categoryBox {
        width:100%; height:auto;
        padding:8px 0;
      }
      .sub_categoryBox > ul {
        width: 100%; height: auto;
        padding:0 8px;
        /* background-color:var(--color-brown); */
      }
      .sub_categoryBox li {
        width: 100%; height:24px;
        margin-bottom:8px;
      }
      .sub_categoryBox li:last-of-type {
        margin-bottom:0;
      }
      .sub_categoryBox a {
        width: 100%; height: 100%;
        color:var(--color-brown);
        font-size:16px;
        font-weight:300;
        text-transform:uppercase;
        transition:all 100ms linear;
      }
      .sub_categoryBox a:hover {
        font-weight:700;
      }
      .category_box > dl > dd:hover .none {
        display:block;
      }
      .category_box > dl > dd > a:focus + .none {
        display:block;
      }
      .category_box > dl > dd:hover .category_dd_title {
        color:var(--color-yellow);
        background-color:var(--color-brown);
      }

        .loginAndJoin_box {
          width:100%; height:50px;
          border-bottom:1px solid var(--color-brown);
          background-color:var(--color-gray);
        }
        .loginAndJoin_box > div {
          float:left;
          padding:10px;
          width:100px; height:50px;
        }
        .loginAndJoin_box > div:first-child {
          float:right;
          width:50px;
        }
        .loginAndJoin_box > div > button,
        .loginAndJoin_box > div > a {display:block;}

          .close_btn {
            width:100%; height:100%;
          }
          .close_btn > i {
            font-size:30px;
            line-height:30px;
            text-align:center;
            color:var(--color-brown);
          }

          .sliderArea_login,
          .sliderArea_join {
            width:100%; height:100%;
            font-size:14px;
            text-align:center;
            line-height:30px;
            border:1px solid var(--color-brown);
            border-radius:5px;
            color:1px solid var(--color-brown);
            background-color:var(--color-white);
            transition:all 300ms linear;
          }
          .sliderArea_login:hover {
            color:var(--color-yellow);
            background-color:var(--color-brown);
          }
          .sliderArea_join:hover {
            color:var(--color-yellow);
            background-color:var(--color-brown);
          }
          .sliderArea_join {
            box-sizing:border-box;
            line-height:28px;
          }
        .category_box {
          width:100%; height:516px;
          /* background-color:rgba(250, 208, 0, 1); */
          background-color:#fff;
          border-bottom:1px solid var(--color-brown);
        }



        .appDownload_box {
          width:100%; height:auto;
          background-color:var(--color-yellow);
          border-bottom:1px solid var(--color-brownOpacity);
        }
        .appDownload_dt_title {
          color:var(--color-brown);
          border-bottom:1px solid var(--color-brown);
        }
        .appDownload_box dd {
          width:100%; height:auto;
          padding:8px;
          padding-bottom:0;
        }
          .downloadBox_title {
            color:var(--color-brown);
            width:100%; height:auto;
            margin-bottom:8px;
          }
          .downloadBox_title > span {
            width: 100%; height:auto;
            font-size:14px;
            font-weight:600;
          }
          .downloadBox_link {
            width:100%; height:auto;
            padding:0 8px;
          }
          .downloadBox_link > div {
            width: 100%; height:30px;
          }
          .downloadBox_link span,
          .downloadBox_link a {
            width:100px; height:30px;
          }
          .downloadBox_link span {
            line-height:30px;
            font-size:14px;
            font-weight:600;
          }
          .downloadBox_link a {
            border-radius:10px;
          }
            .android_link {
              color:var(--color-brown);
              margin-bottom:4px;
            }
            .android_link > a {
              background-image: url("../../image/android_btn.png");
              background-repeat: no-repeat;
              background-position:50% 50%;
            }
            .ios_link > a {
              background-image: url("../../image/ios_btn.png");
              background-repeat: no-repeat;
              background-position:50% 50%;
            }
          .downloadBox_link span {
            display: block;
            float:left;
          }
          .downloadBox_link a {
            display: block;
            float:right;
          }


          
        .sns_box {
          width:100%; height:auto;
          color:var(--color-white);
          background-color:var(--color-darkGray);
        }
        .sns_box dl {
          padding-bottom:0;
        }
        .sns_box dd {
          width:70%; height:auto;
          padding:8px;
          margin:auto;
        }
        .sns_box dd > div {
          float:left;
          width:calc(100% / 3); height:auto;
        }
        .sns_box dd > div > a {
          margin:auto;
          border-radius:100%;
          width:38px; height:38px;
        }
        .sns_dt_title {
          border-bottom:1px solid var(--color-halfWhite);
        }
        .sns_btn_blog > a {
          background-image: url("../../image/top_blog.png");
          background-repeat: no-repeat;
          background-position:50% 50%;
        }
        .sns_btn_facebook > a {
          background-image: url("../../image/top_facebook.png");
          background-repeat: no-repeat;
          background-position:50% 50%;
        }
        .sns_btn_insta > a {
          background-image: url("../../image/top_insta.png");
          background-repeat: no-repeat;
          background-position:50% 50%;
        }
      
      
/* ============================================================= */

  .login_actionBox {
    position:fixed;
    top:calc(50% - 250px); left:calc(50% - 200px);
    z-index:1000;
    width:400px; height:500px;
    background-color:#15a;
  }


/* ============================================================== */


/* #mainAdBox ==================================================== */

#mainAdBox {
  margin:auto; width:auto; height:760px; background-color:#fdb;
  margin-top:120px;
}
  .indicator_box {
    margin:auto; margin-top:696px;
    width:170px; height:26px;
  }
  .indicator_box li {
    float:left; margin-right:10px;
    border-radius:100%;
    width:26px; height:26px; background-color:#363636;
  }
  .indicator_box li:hover {background-color:#FAD000;}
  .indicator_box li:last-child {margin:0;}

/* #menuBox ====================================================== */

#menuBox {
  padding:90px 170px; margin:auto;
  width:1280px; height:760px; background-color:#fff;
}
  .menu_inner {width:940px; height:580px;}
  .menu_inner li {
    float:left;
    transition:all 300ms linear;
  }
  .menu_inner li > div {
    width:100%; height:100%;
  }
  .menu_inner a {display:block; width:100%; height:100%;}
  .menu_inner a div {
    padding:50px 45px; box-shadow:5px 5px 5px;
    width:100%; height:100%; background-color:#fdb;
  }
  .menu_inner h3 {font-size:1.5rem; text-transform:uppercase;}
  .menu_inner li:hover {transform:scale(1.02);}
    .brandstory {
      margin-bottom:20px; margin-right:20px;
      width:300px; height:280px;
    }
      .brandstory_box {width:100%; height:100%;}
    
    .menu {
      margin-bottom:20px;
      width:620px; height:280px;
    }
    .franchise {
      margin-right:20px;
      width:300px; height:280px;
    }
    .store {
      margin-right:20px;
      width:300px; height:280px;
    }
    .news {width:300px; height:280px;}
/* #newproductBox ================================================= */

#newproductBox {
  width:auto; height:600px; background-color:#fdb;
}
    .newproduct_area {
      margin:auto; margin-top:144px;
      width:240px; height:320px;
    }
      .newproduct_title {
        text-align:center;
        font-size:2.5rem; text-transform:uppercase;
        width:240px; height:60px;
      }
      .newproduct_text {
        text-align:center;
        font-size:1.5rem;
        margin:45px 0;
        width:240px; height:110px;
      }
      .newproduct_area > div {
        margin:auto;
        width:140px; height:60px;
      }
      .newproduct_area button {
        display:block; font-size:1.25rem;
        color:#fff;
        width:100%; height:100%;
        background-color:#363636;
        border-radius:10px;
        transition:all 300ms linear;
      }
      .newproduct_area button:hover {color:#363636; background-color:#fff;}

/* #introductionBox ================================================= */

#introductionBox {
  position:relative; 
  margin:auto;
  padding:50px 0;
  width:auto; height:600px; background-color:#FAD000;
}
  .introduction_inner {
    position:relative; left:calc(50% - 1520px);
    overflow:hidden;
    margin:auto; width:3040px; height:500px;
  }
  .introduction_inner > div {
    
    float:left; box-shadow:5px 5px 5px;
    width:1000px; height:500px; background-color:#fdb;
  }
    .introduction_main {margin:0 20px;}

  .introduction_btn_box {
    position:absolute; top:calc(50% - 30px); left:0; right:0;
    margin:auto;
    width:1000px; height:60px;
  }
  .introduction_btn_box > div {
      width:60px; height:100%;
    }
    .introduction_btn_box button {
      width:100%; height:100%; background-color:#ffb;
    }
    .introduction_prev_button {float:left;}
    .introduction_next_button {float:right;}
    .introduction_btn_box i {font-size:50px;}
/* #subAdBox_01 ===================================================== */

#subAdBox_01 {
  padding:30px 0; margin:auto;
  width:auto; height:360px; background-color:#E3E3E3;
}
  .sub_inner_01 {
    margin:auto;
    width:1200px; height:300px; background-color:#fdb;
  }

/* #subAdBox_02 ===================================================== */

#subAdBox_02 {
  padding:50px 0;
  width:auto; height:360px; background-color:#fdb;
}
  .sub_inner_02 {
    margin:auto;
    width:240px; height:260px;
  }
    .sub_02_title {
      margin:auto;
      font-size:2.5rem; text-transform:uppercase;
      text-align:center;
      width:200px; height:60px;
    }
    .sub_02_text {
      font-size:1.5rem;
      text-align:center;
      margin:15px 0;
      width:240px; height:110px;
    }
    .sub_02_area > div {
      margin:auto;
      width:140px; height:60px;
    }
    .sub_02_area button {
      display:block; font-size:1.25rem;
      color:#fff;
      width:100%; height:100%;
      background-color:#363636;
      border-radius:10px;
      transition:all 300ms linear;
    }
    .sub_02_area button:hover {color:#363636; background-color:#fff;}

/* #subAdBox_03 ===================================================== */

#subAdBox_03 {width:auto; height:700px; background-color:#3C2416;}
  .sub_inner_03 {
    padding:150px;
    margin:auto; width:1200px; height:700px; background-color:#3C2416;
  }
  .sub_inner_03_area {width:100%; height:100%; background-color:#fdb;}
    .sub_inner_03_on {
      padding:40px 30px; box-sizing:border-box;
      width:300px; height:400px;
      background-color:#FAD000;
    }
      .sub_03_title {
        font-size:2.5rem; text-transform:uppercase;
        width:140px; height:60px;
      }
      .sub_03_text {
        font-size:1.5rem;
        margin:30px 0;
        width:240px; height:140px;
      }
      .sub_03_area > div {
        width:140px; height:60px;
      }
      .sub_03_area button {
        display:block; font-size:1.25rem;
        color:#fff;
        width:100%; height:100%;
        background-color:#363636;
        border-radius:10px;
        transition:all 300ms linear;
      }
      .sub_03_area button:hover {color:#363636; background-color:#fff;}

/* #footBox ========================================================== */

#footBox {
  width:100%; height:auto;
  background-color: #999;
}

  .yellow_area {
    width:100%; height:60px;
    background-color: var(--color-yellow);
  }
  .foot_area {
    width:100%; height:200px;
    padding:14px 0;
    background-color: var(--color-darkGray);
  }
    .companyInfo_area {
      width:750px; height:172px;
      margin:auto;
    }
      .brand_logo_box {
        width:100%; height:auto;
        margin-bottom:16px;
      }
        .foot_logo {
          width:240px; height:70px;
          margin:auto;
        }
        .foot_logo img {
          width:240px; height:auto;
          margin:auto;
        }
      .companyInfo_text {
        width:100%; height:auto;
      }
      .companyInfo_text address {
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        font-weight:600;
        color:var(--color-textGray);
      }
        .copyright {
          font-size:14px;
          color:var(--color-textGray);
          opacity:0.5;
        }
        .space {margin-right:16px;}

/* ===================================================================== */

